<div class="container">
    <!-- <blockquote class="blockquote text-center text-white">
        <h1 class="mb-0">ProconexCloud</h1>
        <footer>ProconexCloud</footer>
    </blockquote>

    <div class="card">
        <div class="card-header text-center">
            Actions
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="text-center">
                        <button class="btn size-btn-icon">
                            <i class="bi bi-printer"></i>
                        </button>
                    </div>
                    <h4 class="text-center mt-3">Generate Quotes</h4>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="text-center">
                        <button class="btn size-btn-icon ">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </div>
                    <h4 class="text-center mt-3">View Report</h4>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="text-center">
                        <button class="btn size-btn-icon " (click)="goToManageUsers()">
                            <i class="bi bi-people-fill"></i>
                        </button>
                    </div>
                    <h4 class="text-center mt-3">Manage Users</h4>
                </div>
            </div>
        </div>
    </div> -->
</div>