.nav-green {
    background-color: #d1d1d1 !important;
}

.space-left {
    padding-left: 5px;
}

.btn-language-outline {
    background-color: rgba(40, 151, 153, 0.568);
    border: none;
    color: inherit;
}

.btn-language-outline:hover {
    background-color: rgb(3, 77, 78);
    color: white;
}

.mouse-custom {
    color: #6d6d6d;
    cursor: pointer;
}

.mouse-custom:hover {
    color: #292929;
}